.feedback-bg-div {
    position: absolute;
    height: 1000px;
    top: 4170px;
    left: -300px;
    width: 1620px;
    height: 1352px;
    overflow: hidden;
    z-index: -1;
    pointer-events: none; 
}

.feedback-bg {
    position: absolute;
}

.feedback {
    margin-top: 150px;
    height: 1000px;
}


.feedback-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
}


.texto-feedback {
    width: 484px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.texto-feedback h1{
    font-size: 3rem;
    line-height: 1.3;
    color: var(--cor-texto);
}

.texto-feedback p{
    font-size: 1.2rem;
    line-height: 1.4;
    color: var(--cor-texto);
}

.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.carousel-container:after {
    content: '';
    position: absolute;
    width: 274px;
    height: 274px;
    right: -50px;
    top: -130px;
    background: url("../images/icons/target.svg") center / contain no-repeat;
    z-index: -1;
}

.carousel-container button {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.carousel-container button:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../images/icons/seta.svg') center / contain no-repeat;
}

.carousel-container .next-btn:after {
    transform: translate(-50%, -50%) rotate(180deg);
}

.carousel-viewport {
    width: 1000px;
    height: 485px;
    background-color: #F9F9F9;
    border: 1px solid #D9D9D9;
    border-radius: 40px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    gap: 40px;
}

.carousel-conteudo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 60px 60px;
    flex: 0 0 100%; 
    width: 100%;
    box-sizing: border-box;
}

.carousel-conteudo img {
    width: 325px;
    height: 325px;
}

.carousel-texto {
    display: flex;
    flex-direction: column;
    width: 495px;
}

.carousel-texto h1 {
    font-size: 1.6rem;
    margin: 20px 0 40px 0;
}

.carousel-texto p {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.78);
    margin-bottom: 30px;
}

.carousel-texto span {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.78);
}

.carousel-texto span bold {
    font-weight: 700;
    color: #000000;
}

.carousel-texto h3 {
    font-size: 1.25rem;
}

.carousel-texto img {
    width: 98px;
    height: 59px;
}