@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #fffffc;
  font-family: 'Poppins', sans-serif;
}

button, input, select, textarea {
    font-family: inherit;
}

:root {
  --cor-primaria: #001585;
  --cor-secundaria: #485EED;
  --cor-texto: #0B1B35;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, ul,
li, p, dd, dt {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
