.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.lista-nav {
    display: flex;
    gap: 65px;
}

.lista-nav li a {
    color: var(--cor-texto);
    font-size: 1.125rem;
    position: relative;
}

.lista-nav li a::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: var(--cor-primaria);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform ease 0.3s;
}

.lista-nav li a:hover::after {
    transform: scaleX(1);
}

nav button {
    background-color: #485EED;
    font-size: 1.125rem;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 12px 42px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: #5a6ff0;
    box-shadow: 0 0 15px rgba(72, 94, 237, 0.7), 
                0 0 30px rgba(72, 94, 237, 0.4);
    transform: scale(1.05);
}