.servicos {
    position: relative;
    margin-top: 250px;
    width: 100%;
    height: 774px;
    background-color: #F6F8FB;
    z-index: 0;
}

.servicos::before {
    content: "";
    position: absolute;
    
    width: 1000px;
    height: 100px;
    
    background-color: rgba(0, 21, 133, 0.6);

    bottom: 300px; 
    left: 500px;
    transform: translate(-50%, -50%) rotate(13.81deg);
    
    filter: blur(150px); 
    
    z-index: -1;
    pointer-events: none;
}

.servicos::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url("/images/confetti-servicos.png") center / contain no-repeat;
    z-index: 0;
}


.conteudo-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.texto-servicos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 0px;
    gap: 20px;
}

.texto-servicos p {
    font-size: 1.2rem;
    color: #8A898E;
    letter-spacing: 0.45em;
}

.texto-servicos h2 {
    font-size: 3rem;
    font-weight: 400;
}

.cards-servicos-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cards-area-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards-area-2 {
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.cards-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 287px;
    height: 240px;
    border-radius: 28px;
    background-color: #FFFFFF;
    box-shadow: 
        0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.0417),
        0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.035),
        0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.0283),
        0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.0197);
}

.card-conteudo {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-start;
    padding:  10px 20px 0px 20px;
    gap: 20px;
}

.card-conteudo p {
    font-size: 1.2rem;
    color: var(--cor-texto);
    font-weight: 500;
}
