@import './css/global.css';
@import './css/nav.css';
@import './css/quem.css';
@import './css/servicos.css';
@import './css/atendimento.css';
@import './css/planos.css';
@import './css/feedback.css';
@import './css/footer.css';